*
	{
		margin: 0px;
		padding: 0px;
	}
	
body {
	background-image: url("../img/fondo.png");
	background-repeat: no-repeat;
	background-size: cover;
	font-family: Consolas;
	}
	
#container
	{
		width: 90%;
		margin: 0px auto;
	}


header, h1
	{
		background-image: url("../img/fondo2.png");
		height: 200px;
		width: 100%;
		text-align: center;
		line-height: 200px;
		color: #FFFFFF;
		border-bottom: 10px solid #ffffff;
		font-size: 50px;
	}

#subheader
	{
		width: 450px;
		margin: auto;
	}

li, ul 
	{
		list-style: none;	
}

.lista li a 
			{
				display: block;
				padding: 12px 15px;
				text-decoration: none;
				background-color: rgb(23,39,64);
				color: #FFFFFF;
			}
			
			

.lista > li
			{
				float: left;
			}
			
			
			
.lista li a:hover 
					{
						background-color: #424242;
					}


.clear
{
clear: both;
}

.uno
{
	background-color: rgb(211,250,227);
	text-align: center;
	border: 2px solid #000000;
	margin-bottom: 10px;
	font-family: arial;	
}

.dos
{
	background-color: rgb(237,216,245);
	text-align: left;
	border: 3px solid rgb(0,0,160);
	margin-bottom: 10px;	
}

.tres
{
	background-color: rgb(215,213,187);
	text-align: center;
	border: 2px solid rgb(64,0,128);
	margin-bottom: 10px;
	font-family: calibri;	
}

.cuatro
{
	background-color: rgb(197,255,138);
	text-align: left;
	border: 2px solid rgb(255,176,176);
	margin-bottom: 10px;
	font-family: comic sans ms;	
}

.cinco
{
	background-color: rgb(168,211,255);
	text-align: center;
	border: 3px solid rgb(64,0,0);
	margin-bottom: 10px;
	font-family: century;	
}

#contenido
{
float: left;
width: calc(80% - 80px);
min-height: 500px;
background-color: rgba(152, 187, 2045:06 23/02/2022, 0.5);
padding: 40px;
}

.article
{
magin-top: 15px;
margin-bottom: 15px;
padding-bottom: 10px;
border: 4px solid black;
background-color: #ffffff;
text-align: center;
}




aside
{
float: left;
width: calc(20% - 20px);
min-height: 500px;
padding: 10px;
}

aside, h3
	{
	background-image: url("../img/fondo3.png");
	background-repeat: no-repeat;
	background-size: cover;
	width: 
}


h2
	{
		font-size: 30px;
		text-align: center;
	}
h4
	{
		font-size: 25px;
		text-align: center;
	}
	
p
	{
		font-size: 18px;
	}
	
footer
{
background: #000000;
color: #ffffff;
text-align: center;
height: 50px;
line-height: 50px;
}

a
	{
	text-decoration: none;
}