*
	{
		margin: 0px;
		padding: 0px;
	}
	
body {
	background-image: url("../img/fondo.png");
	background-repeat: no-repeat;
	background-size: cover;
	font-family: Consolas;
	}
	
#container
	{
		width: 90%;
		margin: 0px auto;
	}


header, h1
	{
		background-image: url("../img/fondo2.png");
		height: 200px;
		width: 100%;
		text-align: center;
		line-height: 200px;
		color: #FFFFFF;
		border-bottom: 10px solid #ffffff;
		font-size: 50px;
	}

#subheader
	{
		width: 450px;
		margin: auto;
	}

li, ul 
	{
		list-style: none;	
}

.lista li a 
			{
				display: block;
				padding: 12px 15px;
				text-decoration: none;
				background-color: rgb(23,39,64);
				color: #FFFFFF;
			}
			
			

.lista > li
			{
				float: left;
			}
			
			
			
.lista li a:hover 
					{
						background-color: #424242;
					}


.clear
{
clear: both;
}

#contenido
{
float: left;
width: calc(80% - 80px);
min-height: 500px;
background-color: rgba(152, 187, 2045:06 23/02/2022, 0.5);
padding: 40px;
}

.article
{
color: #000000;
magin-top: 15px;
margin-bottom: 15px;
padding-bottom: 10px;
border-bottom: 1px solid black;
}

aside
{
float: left;
width: calc(20% - 20px);
min-height: 500px;
padding: 10px;
}

aside, h3
	{
	background-image: url("../img/fondo3.png");
	background-repeat: no-repeat;
	background-size: cover;
}

footer
{
background: #000000;
color: #ffffff;
text-align: center;
height: 50px;
line-height: 50px;
}

a
	{
	text-decoration: none;
}



.container {
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
}



.logo {
    text-align: center;
    font-size: 3em;
}

.logo span {
    color: #B70E21;
}





.contact-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact-form form label {
    display: block;
}

.contact-form form p {
    margin: 0;
    padding: 1em;
}

.contact-form form .block {
    grid-column: 1 / 3;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    color: #fff;
    border-bottom: 1px solid #d63031;
}

.contact-form form button {
    background: rgb(23,39,64);
    border: 0;
    text-transform: uppercase;
    padding: 1em;
}



@media(min-width: 400px) {
    body {
        padding: 0 4em;
    }
    .contact-wrapper {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    .contact-wrapper > * {
        padding: 2em;
    }
    .contact-info h5,
    .contact-info ul,
    .contact-info p {
        text-align: left;
    }
}

